
.image_contact_container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures content is aligned to the left */
    padding: 10px; /* Adds some padding around the content */
}

.avatar {
    margin-left: 10%;
    width: 30%;
    height: auto;
    display: block; /* Ensures the image is treated as a block-level element */
    border: 1px solid #000; /* Black frame around the image */
    object-fit: cover; /* Ensures the image covers the set dimensions */
}
.contact-info {
    margin-left: 10%;
}

.hometitle {
    font-size: 32px; /* Makes the font size larger */
    text-align: center; /* Centers the text horizontally */
    margin-top: 10px; /* Adds space at the top */
    margin-bottom: 20px; /* Adds space at the bottom */
}

.block {
    max-width: 60%;
    margin-left: 5%;
    margin-right: auto;
    margin-bottom: 30px;
}

.item {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.item_compact {
    margin-top: 0px;
}


.item:last-child {
    border-bottom: none;
}

.work-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.work-entry {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.work-image {
    width: 60%;
}

.work-text {
    font-size: 100%;
    flex: 1;
}

.experience_img {
    height: calc(3em); /* 2x line height (assuming 1.2em default line-height) */
    width: auto; /* Maintain aspect ratio */
    vertical-align: top; /* Align to top of text line */
    margin-left: 5%; /* Optional: small spacing from text */
    object-fit: cover; /* Ensures image covers the area nicely */
    border-radius: 4px; /* Optional: slight rounding for polish */
}