---
layout: default
---
<div class="block">
    <h2>Blog Posts</h2>
    {% if site.blog_posts %}
        {% assign sorted_posts = site.blog_posts | sort: 'date' | reverse %}
        {% for post in sorted_posts %}
        <div class="item">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: "%B %d, %Y" }}</p>
            <p>{{ post.content | strip_html | truncatewords: 40, "" }}...</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No blog posts to display.</p>
    {% endif %}
</div>
